<!--Imagen de ondo-->
<div class="fondo" style="background-image:url('./assets/imagen8.jpg');">

  <div class="todo">
    <!--Barra-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" >TECHNO APP</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/home"><span class="glyphicon glyphicon-user"></span>HOME</a></li>
              <li><a routerLink="/artistas"><span class="glyphicon glyphicon-user"></span>ARTISTAS</a></li>
              <li><a routerLink="/listado"><span class="glyphicon glyphicon-user"></span>COMENTARIOS</a></li>

            <li><a routerLink="/registro"><span class="glyphicon glyphicon-user"></span>RESGISTRARSE</a></li>
            <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
          </ul>
        </div>
      </nav>
    <div class="container text-center">

      <!--Tabla artistas-->
      <div class="tablaEstilo">
        <h1>ARTISTAS</h1>
        <table class="table table-dark table-striped" border="1" *ngIf="hayRegistros(); else sinartistas">
          <tr>
            <td> IMAGEN </td>
            <td> NOMBRE </td>
            <td> DESCRIPCIÓN </td>
            <td> CATEGORIA </td>
            <td> BORRAR </td>
            <td> SELECCIONAR </td>
          </tr>
          <tr *ngFor="let art of articulos">
            <td><img src="./assets/artista1.jpg"class="mr-3 mt-3 rounded-circle" style="width:60px;"></td>
            <td>{{art.nombre}}</td>
            <td>{{art.descripcion}}</td>
            <td>{{art.categoria}}</td>
            <td><button class="btn btn-primary" (click)="borrar(art)">Borrar</button></td>
            <td><button class="btn btn-primary" (click)="seleccionar(art)">Seleccionar</button></td>
          </tr>
        </table>

        <!--Inputs Artista-->
      </div>
      <ng-template #sinartistas>
        <p>No hay artistas.</p>
      </ng-template><br>
      <div class="entradas">
        <p>
          <input class="form-control" placeholder="Nombre del Artista" type="text" [(ngModel)]="art.nombre" />
        </p>
        <p>
          <input class="form-control" placeholder="Dscripcion" type="text" [(ngModel)]="art.descripcion" />
        </p>
        <p>
          <input class="form-control" placeholder="Cateoria" type="text" [(ngModel)]="art.categoria" />
        </p>
        <button class="btn btn-primary" (click)="agregar()">Agregar</button><br><br><br><br>
      </div>
    </div>
  </div>
</div>
