
<div class="subirComentario">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
    </div>
    <mat-card-title class="autor">{{ mySelectedComentario.autor }}</mat-card-title>
  </mat-card-header>
  <mat-card-content align="center"><p>{{ mySelectedComentario.texto }}</p></mat-card-content>
</mat-card>
</div>
