<!--Imagen de ondo-->
<div class="fondo" style="background-image:url('./assets/imagen5.jpg');">

  <div class="todo">
    <!--Barra-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" >TECHNO APP</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/home"><span class="glyphicon glyphicon-user"></span>HOME</a></li>
              <li><a routerLink="/artistas"><span class="glyphicon glyphicon-user"></span>ARTISTAS</a></li>
              <li><a routerLink="/listado"><span class="glyphicon glyphicon-user"></span>COMENTARIOS</a></li>

            <li><a routerLink="/registro"><span class="glyphicon glyphicon-user"></span>RESGISTRARSE</a></li>
            <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
          </ul>
        </div>
      </nav>
    <div class="container text-center">
<!--Para subir comentarios-->
<div class="formularioComentario">
  <div align="center">
    <mat-card class="formulario" width="400">
      <h3 style="margin:10px">Comentarios</h3>
      <img src="./assets/artista1.jpg">
    </mat-card>

    <mat-form-field class="full-width">
      <input matInput placeholder="Autor" [(ngModel)]="miComentario.autor">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="ID" [(ngModel)]="miComentario.id">
    </mat-form-field>

    <p>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Comentario" [(ngModel)]="miComentario.texto"></textarea>
      </mat-form-field>
    </p>

    <button class="btn btn-primary" (click)="addNewComentario()">Publicar Comentario</button>
  </div>

  <div *ngFor="let comentario of misComentarios">
    <app-detalle-comentario [mySelectedComentario]="comentario"></app-detalle-comentario>
  </div>

</div>
