/*Para la barra de arriba*/
.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}
/*foto de fondo*/
.fondo{
  background-size:100% 100%;
  background-repeat: no-repeat;
}
/*Formulario*/
.formularioComentario{
  max-width: 400px;
  background-size: cover;
  margin: auto;



}




