/*foto de fondo*/
.fondo{
  background-size:100% 100%;
  background-repeat: no-repeat;
}
/*Parrafo de introduccion*/
.container {
  padding: 80px 120px;
}
.todo{
  font-family: sans-serif
}
/*Para la barra de arriba*/
.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}
/*Imagenes redondeadas en alucion al techno*/
.person {
  border: 5px solid transparent;
  margin-bottom: 100px;
  width: 90%;
  height: 90%;
}
.person:hover {
  border-color: #868383;
}
/*Carrusel*/
.carousel-inner img{
  width: 100%;
  height: 600px

}
.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 400px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}



