<!--Imagen de ondo-->
<div class="fondo" style="background-image:url('./assets/imagen5.jpg');">

<div class="todo">
<!--Barra-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" >TECHNO APP</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home"><span class="glyphicon glyphicon-user"></span>HOME</a></li>
          <li><a routerLink="/artistas"><span class="glyphicon glyphicon-user"></span>ARTISTAS</a></li>
          <li><a routerLink="/listado"><span class="glyphicon glyphicon-user"></span>COMENTARIOS</a></li>

        <li><a routerLink="/registro"><span class="glyphicon glyphicon-user"></span>RESGISTRARSE</a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
      </ul>
    </div>
  </nav>
<div class="container text-center">
  <!--Carousel de fotos-->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicadores -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/imagen3.jpg" alt="tablaTechno">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagen1.jpg" alt="rumba1">
    </div>
    <div class="carousel-item">
      <img src="./assets/imagen2.jpg" alt="rumba2">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div><!--Parrafo de introduccion-->
  <h3>TECHNO</h3>
  <h4>Amamos el Techno!</h4>
  <h4>Hemos creado un sitios web para los amantes del techno...
    El techno como nuevo género de música eléctronica, surge en Detroit gracias a Kevin Saunderson, Derrick May y Kevin Saunderson.
    En el techno de Detroit que nació entre los años 60 y 70, podemos encontrar una gran relación con el sonido de Kraftwerk y el funk de George Clinton.
    A finale de 1980 el techno llego a Europa gracias "Techno!, The New Dance Sound Of Detroit" se conviert un éxito primero en Gran Bretaña y luego en el resto de Europa, es en Alemania y de la mano de Marc Acardipane nace lo que se consider el Hardcore-Techno.
    Posteriormente Gran Bretaña creo su propia escena del Techno naciendo nuevas estructuras como el Acid Techno o el Intelligent Techno.
    Pero la que es sin duda la cuna del Techno en Europa es Alemania ya que gracias a ellos se popularizó el Techno con la creación de fiestas y sellos discográficos.
    Pero la internacialización del Techno no se produjo hasta 1992 cuando llega Asia y a Sudamérica popularizándose en paises como Brasil y Argentina.
    En la actualidad podemos encontrar una gran variedad de estilos de Techno y una diversidad de djs que hacen que este tipo de música electrónica tenga tanto éxito en el panorama musical actual.
  </h4>
<!--Imagenes redondeadas en alucion al techno-->
  <br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://gcdn.emol.cl/musica-pop/files/2015/04/musica-electronica-p.jpg" class="rounded-circle person" alt="consola1">
    </div>
    <div class="col-sm-4">
      <img src="https://www.zetaestaticos.com/leon/img/noticias/1/152/1152577_1.jpg" class="rounded-circle person" alt="consola2">
    </div>
    <div class="col-sm-4">
      <img src="https://musicmaj.files.wordpress.com/2015/11/maxres.jpg" class="rounded-circle person" alt="consola3">
    </div>
  </div>
</div>
</div>
