/*Para la barra de arriba*/
.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li.active a {
  background-color:#29292c !important;
}
/*foto de fondo*/
.fondo{
  background-size:100% 100%;
  background-repeat: no-repeat;

}

.form-register{
  width: 900px;
  height: 830px;
  padding: 300px;
  margin: auto;
  margin-top: -349px;
  position: relative;
}

.h3{
  background-color: #2d2d30;
  opacity: 0.9;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.contenedor-inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input{
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darkgrey;
}
.input-48{
  width: 48%;
}
.input-100{
  width: 100%;
}
.form_link{
  font-size: 14px;
  color: #fff
}

