<!--Imagen de ondo-->
<div class="fondo" style="background-image:url('./assets/imagen4.jpg');">
  <!--Barra-->
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >TECHNO APP</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home"><span class="glyphicon glyphicon-user"></span>HOME</a></li>
            <li><a routerLink="/artistas"><span class="glyphicon glyphicon-user"></span>ARTISTAS</a></li>
            <li><a routerLink="/listado"><span class="glyphicon glyphicon-user"></span>COMENTARIOS</a></li>

          <li><a routerLink="/registro"><span class="glyphicon glyphicon-user"></span>RESGISTRARSE</a></li>
          <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
        </ul>
      </div>
    </nav>
  <div class="container text-center">
<br><br><br><br><br>

  <!--FormularioRegistro-->
<div class="formulario" align="left">
  <form class="form-register">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <div class="contenedor-inputs">

      <input type="text" id="inputNombre" class="form-control" placeholder="Nombre" required>
      <input type="text" id="inputApellido" class="form-control" placeholder="Apellidos" required>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="text" id="inputUsuario" class="form-control" placeholder="Usuario" required>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="text" id="inputTelefono" class="form-control" placeholder="Teléfono" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
      <p class="form_link">¿Ya tienes una cuenta? <a href="#">Ingresa aquí</a></p>
    </div>
  </form>
</div>
